@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Fascinate&family=Knewave&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Stoke:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f8fc;
}

.topnav {
    background-color: #d9e4f5;
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

span{
    font-family: 'ubunto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}
/* ===== Logo Section ===== */
.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 24px;

    color: #fff;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    font-family: 'limelight', sans-serif;
}
.logo img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1); /* Slight zoom-in */
    filter: brightness(1.1); /* Slightly brighter */
    cursor: pointer;
}

.horizontal-list {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.horizontal-list li {
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    background-color: #2E294E;
    color: #fff; /* Changed from #007bff to white */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(46, 41, 78, 0.4);
    transform: translateY(-2px);
}

.nav-link i {
    margin-right: 5px;
}
